<h1 style="text-align:center">Listing all articles</h1>
<p>
    
</p>
<div class="container">
     <%= link_to "New Article", new_article_path, class:'btn btn-default' %>
     <div style="text-align:center">
        <%= will_paginate %>
        <%= render 'article', obj: @articles %>
    </div>
    
 </div>